<ng-container [formGroup]="form">
  <div class="w-full grid grid-cols-4 gap-4">
    <mat-form-field appearance="outline">
      <input
        matInput
        type="text"
        formControlName="firstname"
        placeholder="First name"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input
        matInput
        type="text"
        formControlName="lastname"
        placeholder="Last name"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="email" placeholder="Email" />
    </mat-form-field>
  </div>
</ng-container>
