<ng-container [formGroup]="form">
  <div class="w-full grid grid-cols-4 gap-4">
    <mat-form-field appearance="outline">
      <mat-label>Number</mat-label>
      <input matInput formControlName="number" placeholder="Street Number" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Street</mat-label>
      <input matInput formControlName="street" placeholder="Street" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput formControlName="state" placeholder="State" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput formControlName="country" placeholder="Country" />
    </mat-form-field>
  </div>
</ng-container>
