<app-navbar></app-navbar>

<div class="bg-white mb-2">
  <div class="sm:w-full max-w-6xl mx-auto px-4">
    <ng-container *ngIf="slider$ | async as slider">
      <div class="flex w-full gap-x-1">
        <div class="sm:w-3/4 w-full">
          <swiper-container
            class="mySwiper"
            pagination="true"
            pagination-clickable="true"
            navigation="true"
            space-between="30"
            centered-slides="true"
            autoplay-delay="2500"
            autoplay-disable-on-interaction="false"
            [ngStyle]="{
              '--swiper-navigation-color': '#008000',
              '--swiper-pagination-color': '#008000'
            }"
          >
            <swiper-slide *ngFor="let item of slider.homeSliders">
              <a [attr.href]="item.imageUrl" aria-label="slider" class="block">
                <img
                  loading="lazy"
                  class="w-full rounded-sm"
                  [src]="item.image"
                  alt="{{ item.name || 'home slide' }}"
                />
              </a>
            </swiper-slide>
          </swiper-container>
        </div>

        <div class="w-1/4 sm:flex flex-col gap-y-1 self-stretch hidden">
          <div class="flex-1 bg-orange-300"></div>
          <div class="flex-1 bg-purple-300"></div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="bg-white py-2">
  <div class="sm:w-full max-w-6xl mx-auto px-4">
    <h2 class="font-medium mb-2">Featured Products</h2>
    <ng-container *ngIf="featuredProducts$ | async as featured; else loading">
      <div class="grid grid-cols-2 sm:grid-cols-6 sm:gap-2 gap-1">
        <app-card *ngFor="let item of featured" [item]="item"> </app-card>
      </div>
    </ng-container>
  </div>
</div>

<div class="bg-white py-2">
  <div class="sm:w-full max-w-6xl mx-auto px-4">
    <h2 class="font-medium mb-2">New Arrivals</h2>
    <ng-container *ngIf="newArrivals$ | async as arrivals; else loading">
      <div class="grid grid-cols-2 sm:grid-cols-6 sm:gap-2 gap-1">
        <app-card *ngFor="let item of arrivals" [item]="item"> </app-card>
      </div>
    </ng-container>
  </div>
</div>

<div class="bg-white py-2">
  <div class="sm:w-full max-w-6xl mx-auto px-4">
    <h2 class="font-medium mb-2">App Only Deals</h2>
    <ng-container *ngIf="appDeals$ | async as appDeals; else loading">
      <div class="grid grid-cols-2 sm:grid-cols-6 sm:gap-2 gap-1">
        <app-card *ngFor="let item of appDeals" [item]="item"> </app-card>
      </div>
    </ng-container>
  </div>
</div>

<div class="bg-white py-2">
  <div class="sm:w-full max-w-6xl mx-auto px-4">
    <h2 class="font-medium mb-2">Group Buy Products</h2>
    <ng-container *ngIf="groupBuyProducts$ | async as groupBuy; else loading">
      <div class="grid grid-cols-2 sm:grid-cols-6 sm:gap-2 gap-1">
        <app-card *ngFor="let item of groupBuy" [item]="item"> </app-card>
      </div>
    </ng-container>
  </div>
</div>

<div class="bg-white py-2 mb-6">
  <div class="sm:w-full max-w-6xl mx-auto px-4">
    <h2 class="font-medium mb-2">Recommended for you</h2>
    <ng-container *ngIf="products && products.length; else loading">
      <div class="grid grid-cols-2 sm:grid-cols-6 sm:gap-2 gap-1">
        <app-card *ngFor="let item of products" [item]="item"> </app-card>
      </div>
    </ng-container>
  </div>
</div>

<app-footer></app-footer>

<ng-template #loading>
  <mat-spinner strokeWidth="4" diameter="32"></mat-spinner>
</ng-template>
