<app-navbar></app-navbar>

<div class="bg-white mb-2">
  <div class="sm:w-full max-w-6xl mx-auto px-6">
    <div class="grid grid-cols-6 gap-x-1">
      <div class="col-span-4">
        <ng-container *ngIf="slider$ | async as slider">
          <swiper-container
            class="mySwiper"
            pagination="true"
            pagination-clickable="true"
            navigation="true"
            space-between="30"
            centered-slides="true"
            autoplay-delay="2500"
            autoplay-disable-on-interaction="false"
          >
            <swiper-slide *ngFor="let item of slider.homeSliders">
              <a [attr.href]="item.imageUrl" aria-label="slider" class="block">
                <img
                  loading="lazy"
                  class="w-full rounded-sm"
                  [src]="item.image"
                  alt="{{ item.name || 'home slide' }}"
                />
              </a>
            </swiper-slide>
          </swiper-container>
        </ng-container>
      </div>

      <div class="col-span-2 flex flex-col gap-y-1 h-full">
        <div class="flex-1 bg-orange-300"></div>
        <div class="flex-1 bg-purple-300"></div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-4">
  <div class="sm:w-full max-w-6xl mx-auto px-6">
    <h2 class="font-medium mb-2">Featured Products</h2>
    <ng-container *ngIf="featuredProducts$ | async as featured; else loading">
      <div class="grid grid-cols-2 sm:grid-cols-6 gap-4">
        <app-card *ngFor="let item of featured" [item]="item"> </app-card>
      </div>
    </ng-container>
  </div>
</div>

<div class="bg-white py-4">
  <div class="sm:w-full max-w-6xl mx-auto px-6">
    <h2 class="font-medium mb-2">New Arrivals</h2>
    <ng-container *ngIf="newArrivals$ | async as arrivals; else loading">
      <div class="grid grid-cols-2 sm:grid-cols-6 gap-4">
        <app-card *ngFor="let item of arrivals" [item]="item"> </app-card>
      </div>
    </ng-container>
  </div>
</div>

<div class="bg-white py-8">
  <div class="sm:w-full max-w-6xl mx-auto px-6">
    <h2 class="font-medium mb-2">Group Buy Products</h2>
    <ng-container *ngIf="groupBuyProducts$ | async as groupBuy; else loading">
      <div class="grid grid-cols-2 sm:grid-cols-6 gap-4">
        <app-card *ngFor="let item of groupBuy" [item]="item"> </app-card>
      </div>
    </ng-container>
  </div>
</div>

<div class="bg-white py-8">
  <div class="sm:w-full max-w-6xl mx-auto px-6">
    <h2 class="font-medium mb-2">Recommended for you</h2>
    <ng-container *ngIf="products && products.length; else loading">
      <div class="grid grid-cols-2 sm:grid-cols-6 gap-4">
        <app-card *ngFor="let item of products" [item]="item"> </app-card>
      </div>
    </ng-container>
  </div>
</div>

<app-footer></app-footer>

<ng-template #loading>
  <mat-spinner strokeWidth="4" diameter="32"></mat-spinner>
</ng-template>
