<div class="bg-white py-8">
  <div class="sm:w-full max-w-6xl mx-auto sm:px-6">
    <h2 class="font-medium mb-2">Featured Products</h2>
    <div class="grid grid-cols-2 sm:grid-cols-6 gap-4">
      <app-card *ngFor="let item of featuredProducts$ | async" [item]="item">
      </app-card>
    </div>
  </div>
</div>

<div class="bg-white py-8">
  <div class="sm:w-full max-w-6xl mx-auto sm:px-6">
    <h2 class="font-medium mb-2">New Arrivals</h2>
    <div class="grid grid-cols-2 sm:grid-cols-6 gap-4">
      <app-card *ngFor="let item of newArrivals$ | async" [item]="item">
      </app-card>
    </div>
  </div>
</div>

<div class="bg-white py-8">
  <div class="sm:w-full max-w-6xl mx-auto sm:px-6">
    <h2 class="font-medium mb-2">Group Buy Products</h2>
    <div class="grid grid-cols-2 sm:grid-cols-6 gap-4">
      <app-card *ngFor="let item of groupBuyProducts$ | async" [item]="item">
      </app-card>
    </div>
  </div>
</div>

<div class="bg-white py-8">
  <div class="sm:w-full max-w-6xl mx-auto sm:px-6">
    <div class="grid grid-cols-2 sm:grid-cols-6 gap-4">
      <app-card *ngFor="let item of products" [item]="item"> </app-card>
    </div>
  </div>
</div>
